In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("../data/CVD.csv")
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [33]:
df.shape

(100000, 19)

In [8]:
Disease1= df.iloc[0:50000,:]
Disease1.to_csv("../data/Disease1.csv",index=False)

In [9]:
Disease1.shape

(50000, 19)

In [10]:
Disease2= df.iloc[0:100000,:]
Disease2.to_csv("../data/Disease2.csv",index=False)

In [11]:
df_v2 = pd.read_csv('../Data/Disease2.csv')

In [12]:
Disease2.shape

(100000, 19)